<p>Hello {{name}},</p>
<p>Your account balance has been {{action}}ed by <strong>{{amount}}</strong>.</p>
<p>New balance: <strong>{{newBalance}}</strong></p>
{{#if note}}<p>Note: {{note}}</p>{{/if}}
<p>Thank you,<br>The Platform Team</p>
