<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Gmail - $ 1000 has been deposited to your CashApp account</title>
  <link rel="shortcut icon" href="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" type="image/x-icon">
  <style type="text/css">
    body,td,div,p,a,input {font-family: arial, sans-serif;}
    body, td {font-size:13px}
    a:link, a:active {color:#1155CC; text-decoration:none}
    a:hover {text-decoration:underline; cursor: pointer}
    a:visited{color:#6611CC}
    img{border:0px}
    pre {
      white-space: pre;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      white-space: pre-wrap;
      word-wrap: break-word;
      max-width: 800px;
      overflow: auto;
    }
    .logo { left: -7px; position: relative; }
  </style>
</head>
<body>
  <div class="bodycontainer">
    <!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr height="14px">
        <td width="143">
          <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_server_1x.png" width="143" height="59" alt="Gmail" class="logo">
        </td>
        <td align="right">
          <font size="-1" color="#777"><b>favour moyeso &lt;favourmoyeso1997@gmail.com&gt;</b></font>
        </td>
      </tr>
    </table> -->
    <!-- <hr> -->
    <div class="maincontent">
      <!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><font size="+1"><b>$ 1000 has been deposited to your CashApp account</b></font><br></td>
        </tr>
      </table>
      <hr> -->
      <table width="100%" cellpadding="0" cellspacing="0" border="0" class="message">
        <!-- <tr>
          <td><font size="-1"><b>CashApp </b>&lt;sent@xolox.buzz&gt;</font></td>
          <td align="right"><font size="-1">Tue, Aug 19, 2025 at 9:48 AM</font></td>
        </tr>
        <tr>
          <td colspan="2" style="padding-bottom: 4px;">
            <font size="-1" class="recipient"><div>To: favourmoyeso1997@gmail.com</div></font>
          </td>
        </tr> -->
        <tr>
          <td colspan="2">
            <table width="100%" cellpadding="12" cellspacing="0" border="0">
              <tr>
                <td>
                  <div style="overflow: hidden;">

                                  {{#if warning}}
                    <div style="max-width:100%;text-align:center;margin:20px auto">
                      <div style="background-color:#d0604c;border-radius:8px;color:white;padding:20px">
                        <div style="font-size:18px;font-weight:bold;margin-bottom:10px">⚠</div>
                        <p style="font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;font-size:14px;font-weight:bold;line-height:1.4">
                           {{warning}}
                        </p>
                      </div>
                    </div>
   {{/if}}

                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-radius:24px;table-layout:fixed;width:328px">
                      <tbody>
                        <tr>
                          <td align="center" style="margin:0px;padding:0px 48px">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:232px">
                              <tbody>
                                <tr>
                                  <td align="center" style="margin:0px"><br></td>
                                </tr>
                                <tr>
                                  <td height="4" style="margin:0px"><br><img height="4" src="https://ci3.googleusercontent.com/meips/ADKq_Naz4d_zp1Z03NK3qiyQFSp55zAkg5UBIr6xRWbzHSCtepZtEKpY8xY49xYVvSrk-0pGjwlRebHz4-U_lPL3mRZtysTI4S20bOMF=s0-d-e1-ft#https://cash-s.squarecdn.com/static/images/alpha.gif" style="display:block" width="1"></td>
                                </tr>
                                <tr>
                                  <td style="margin:0px">
                                    <div style="display:flex;margin:21px 0px"><img alt="cashapp check" src="https://ci3.googleusercontent.com/meips/ADKq_NbKQd75NqsEWeksheTalrPn0D0fRP5WA9-phO2bWSCfzvOxxKE6tkVjYPO393ZYxdlPa8I4HzLK_6DTt0YPoZq14P3f756qmyCnIhqfjjtui0uZlWZ7HqQq8dKEoIs3gg=s0-d-e1-ft#https://coderflash.name.ng/storage/app/public/images/wallets/cashcheck.png" style="display:block;height:50px;margin:0px auto;max-width:280px"></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" style="color:#999999;font-family:arial,sans-serif;font-size:16px;letter-spacing:0.2px;line-height:24px;margin:0px">
                                    <div dir="auto"><span style="letter-spacing:0.2px;text-align:left">Payment from Dmdndjd</span></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="84" style="margin:0px"><img height="84" src="https://ci3.googleusercontent.com/meips/ADKq_Naz4d_zp1Z03NK3qiyQFSp55zAkg5UBIr6xRWbzHSCtepZtEKpY8xY49xYVvSrk-0pGjwlRebHz4-U_lPL3mRZtysTI4S20bOMF=s0-d-e1-ft#https://cash-s.squarecdn.com/static/images/alpha.gif" style="display:block" width="1"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" height="72" style="margin:0px" valign="middle"><span style="line-height:72px"><span style="color:#333333;font-size:65px;letter-spacing:-1px">{{localcurrency}}</span></span></td>
                        </tr>
                      </tbody>
                    </table>
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-radius:24px;table-layout:fixed;width:328px">
                      <tbody>
                        <tr>
                          <td align="left" style="color:#999999;font-family:arial,sans-serif;font-size:14px;letter-spacing:0.2px;line-height:24px;margin:0px;padding:10px">
                            <div>Amount: <span style="background-color:#f7f7f7">{{localcurrency}}</span></div>
                            <div>Fee: <span style="background-color:#f7f7f7">{{transaction_fee}}</span></div>
                            <div>Destination: <span style="background-color:#f7f7f7">Cash</span></div>
                            <div>Identifier: <span style="background-color:#f7f7f7">{{cashapp_tag}}</span></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-radius:24px;table-layout:fixed;width:328px">
                      <tbody>
                        <tr>
                          <td align="center" style="margin:0px">
                            <img height="60" src="https://ci3.googleusercontent.com/meips/ADKq_NbiHacYPzsY123K0yBVE-zSQ3a8Xf9g4T9ktdTBWo3wPZKD7Pwcxfod4JJ43Z-k_PBh_6aEmsm3V7tRhePxZW_lo2nawoSvhAdzjTvmhX5H1Hmuz-78xfwGU2fuqKND2F0=s0-d-e1-ft#https://coderflash.name.ng/storage/app/public/images/wallets/cashfooter.png" style="display:block;height:60px;width:197px" width="197">
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style="color:#999999;font-family:arial,sans-serif;font-size:16px;letter-spacing:0.2px;line-height:24px;margin:0px;padding:0px 10px">
                            Get 10% off or more on every purchase at places like Chipotle or Taco Bell
                          </td>
                        </tr>
                        <tr>
                          <td align="center" height="64" style="border-top:1px solid rgb(229,229,229);margin:0px" valign="middle" width="100%">Explore Boosts</td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <div style="color:#999999;font-family:arial,sans-serif;font-size:14px;line-height:24px;text-align:center">
                      © Square Inc.
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
