<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css" nonce="eNxRPN2UJwq49xEP9kydxw">
body,td,div,p,a,input {font-family: arial, sans-serif;}
</style>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" type="image/x-icon">
<style type="text/css" nonce="eNxRPN2UJwq49xEP9kydxw">
body, td {font-size:13px} 
a:link, a:active {color:#1155CC; text-decoration:none} 
a:hover {text-decoration:underline; cursor: pointer} 
a:visited{color:#6611CC} 
img{border:0px} 
pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; max-width: 800px; overflow: auto;} 
.logo { left: -7px; position: relative; }
</style>
</head>
<body>
<div class="bodycontainer">
<!-- <table width=100% cellpadding=0 cellspacing=0 border=0>
<tr height=14px>
<td width=143><img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_server_1x.png" width=143 height=59 alt="Gmail" class="logo"></td>
<td align=right><font size=-1 color=#777><b>favour moyeso &lt;favourmoyeso1997@gmail.com&gt;</b></font></td>
</tr>
</table> -->
<!-- <hr>
<div class="maincontent">
<table width=100% cellpadding=0 cellspacing=0 border=0>
<tr><td><font size=+1><b>test has sent you money</b></font><br></td></tr>
</table>
<hr>
<table width=100% cellpadding=0 cellspacing=0 border=0 class="message">
<tr><td><font size=-1><b>PayPal </b>&lt;sent@xolox.buzz&gt;</font></td><td align=right><font size=-1>Tue, Aug 19, 2025 at 9:54 AM</font>
<tr><td colspan=2 style="padding-bottom: 4px;"><font size=-1 class="recipient"><div>To: favourmoyeso1997@gmail.com</div></font> -->

    <tr><td colspan=2>
<table width=100% cellpadding=12 cellspacing=0 border=0>
<tr><td>
<div style="overflow: hidden;">
<font size=-1>


<div style="max-width:100%;text-align:center;margin:20px auto">

{{#if warning}}
<div style="background-color:#d0604c;border-radius:8px;color:white;padding:20px">
<div style="font-size:18px;font-weight:bold;margin-bottom:10px">⚠</div>
<p style="font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;font-size:14px;font-weight:bold;line-height:1.4">
{{warning}}
</p>
</div>
</div>
  {{/if}}
<table width="100%" style="width:1962.5px">
<tr>
<td align="center" bgcolor="#FAF8F5" style="color:#222222;font-family:Arial,Helvetica,sans-serif;font-size:small">
<table width="100%" style="width:1962.5px">
<tr>
<td>
<table width="100%" style="width:1962.5px;background-color:white">
<tr>
<td style="color:#687173;font-size:14px;line-height:20px;padding:10px">Hello, {{recipient_name}}</td>
</tr>
<tr>
<td style="padding:15px 20px 25px">
<img src="https://ci3.googleusercontent.com/meips/ADKq_NbS2_toCZ4TSOQy_NgLTEFsFoyupfADb2t-YjWU2bq2zPgXp-Uw5xAQhJycgTALw-CQ5Kwk0Gupkx_07av_UQ--pTV1oHZ0JDxl5IWDNy1z7nNqHyxe20V4KZOLT8KCY0UwtNIDcIxSVZRaQ4VcbhkV2g0mKQ3ABlS-fkZvhyBvOLKWW2BdxBfTdwO5W8__wJct=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/paypal-rebranding/pp-logo-in-circle.png" alt="PayPal" style="display:block">
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td style="padding:0 35px 30px">
<p style="color:#001c64;font-size:32px;line-height:38px">Paypal Inc. has sent you {{localcurrency}}.</p>
<p style="color:#001435;font-size:20px;line-height:28px">Note from Paypal Inc.:</p>
<table width="100%" style="padding-top:10px">
<tr>
<td align="left" valign="top" width="40">
<img src="https://ci3.googleusercontent.com/meips/ADKq_NbOWErYO-l6xusJ-EmtZRIhDps7o6kJMYXL1bca-RAEa4lqsZmKQc1D0jFIUGicYA-8B02pKeTck9Zub-_-WftJtVbPBdXjgaX7det3mV2aacAWEioqL3YeRjcf-HNFpQGk9UagxIwVXiuxA0m9RN1sAnTn-5XvJ5KiW8T3v1AvXBAavNXaFMLf2IrjUWxGRiA=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/paypal-rebranding/quote-marks-left.png" alt="quote" width="26" height="22" style="display:block">
</td>
<td align="center" valign="top">
<p style="color:#001c64;font-size:26px;line-height:32px">Your funds have been successfully delivered. Enjoy!</p>
</td>
<td align="right" valign="top" width="40">
<img src="https://ci3.googleusercontent.com/meips/ADKq_NZ8G3qhgEr-2W2n2uRv80YIz4iPBJc_nOX3CUD-pWjlP52F9vfWYRpoZSaCUUbBUQnER1qMordk6nJ7wTAyExkdlGn_-a0KVBsTDq1wpjkvYYaeF-UegTogr-HCxEdUb-2l2rW3TAjseeEStHGtvlm_VHF7Lebz9S-LlqavQRjPMO3AJAfjDg9OdW4mQRiAD59w=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/paypal-rebranding/quote-marks-right.png" alt="quote" width="26" height="22" style="display:block">
</td>
</tr>
</table>
<table width="100%" style="padding:0 25px 20px">
<tr>
<td style="font-size:14px">
<strong>Transaction ID</strong><br>
{{transaction_id}}
</td>
<td style="font-size:14px;text-align:right">
<strong>Transaction date </strong><br>
{{prettyDate}} </td>
</tr>
</table>
<table width="100%" style="padding:0 35px 25px">
<tr>
<td style="color:#001435;font-size:14px;line-height:20px;word-break:break-word">
Money received<br>{{localcurrency}}
</td>
</tr>
</table>
<table width="100%" style="padding:0 35px 25px">
<tr>
<td style="color:#001435;font-size:14px;line-height:20px;word-break:break-word">
Please note it may take a little while for this payment to appear in the Activity section of your account.
</td>
</tr>
</table>
<table width="100%" style="padding:0 35px 25px">
<tr>
<td>
<table>
<tr>
<td align="center" bgcolor="#003087" style="border-radius:50px">
<div style="border-radius:50px;border:2px solid rgb(0,48,135);color:white;display:inline-block;font-size:18px;line-height:22px;min-width:150px;padding:15px 35px;text-decoration:none">Get Details</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="center" style="padding:10px 0">
<img src="https://ci3.googleusercontent.com/meips/ADKq_NZGqXhiy6LIaHejqNVdiafh_tHaP4ekGOegHmfJsNeaDokQcSYzL071QP9kcFeONGCCh27axtEVd0fYVxr4xZPthlMGkvSE6AivBUlOR6-bUURi_7aC0fnIYN5aAwBC2KaC5QJ-ZKNEIEBYUymEw2sV2twg35q0bGyXHGiGqh9o1QVbIW9c3VIQEEx4c2UK9mTMgyV5a9pb-GlIw4vfEcWUAIU0Brc-6pLNSwRh1IP4mSrUixhwi0_zPY6pEl0m6fL-gmOxr0NoNa1yNU0hDbiA6I7oyulHYjMrDbOAg9ntqtvR-EZVQbF194IoPghA3OEdE0d-14zH4cYKvAtOIf5koqbDew5WtAoDdxdOiCtUE2abspOW8DSbvlr_proDsQofD9QpgOd58uQ6HKpha5jHuKa17oLgGVIcpWg=s0-d-e1-ft#https://t.paypal.com/ts?v=1&amp;e=im&amp;s=ci&amp;mail=sys&amp;page=main%3Aemail%3APPC001004%3A%3A%3A&amp;page_group=main%3Aemail&amp;page_template=PPC001004&amp;event_name=email_open&amp;correlation_id=696ae4ed727da&amp;merchant_id=8WB9X83MZJ62W&amp;batch_id=9T5PPVLDRVH8J&amp;encr_rcvr_id=YH3HUBBJ2696J&amp;transaction_id=2R951170NH6533015" alt="" style="display:block">
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table width="100%" style="width:1962.5px">
<tr>
<td valign="top" width="120">
<img src="https://ci3.googleusercontent.com/meips/ADKq_NZN3MB6LDWDETdFrHFoup-4qMGIS01zQrSoiZgx4WXY4_wuYsx7lm13B8gS4QXWr2t00Hi5brJoT-aRJKrYh1o641J2QnTcQLp5BqFlmRjhARTIZrLoknUJN3gzWAyAe67g2ev8KslpE2w0vjayodkfevBTb65gLE5dYYsXTgmRrKOXw4LaI85CgNzJUBlUPeja66aSOmo=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/paypal-rebranding/footer-logo-with-crop.png" alt="PayPal" width="283" height="100" style="display:block">
<hr style="border-top:solid 1px rgb(198,198,198);margin:0 35px">
</td>
</tr>
</table>
<table width="100%" style="width:1962.5px">
<tr>
<td style="color:#001435;font-size:11px;line-height:31px;padding:10px 35px">
Help &amp; Contact
<span> | </span>
Security
<span> | </span>
Apps
</td>
</tr>
<tr>
<td style="padding:20px">
<table>
<tr>
<td align="center" valign="middle" width="60">
<img src="https://ci3.googleusercontent.com/meips/ADKq_NZ1Fm1-l0yP4CBX7ifjSzTU00DcA7XBHrNpYHzJCCcZ6_QcM-z9ejTr1rbAzRwH_G8NRDnW73KoKYy0RZA4AQsDSADe5jH18_9fT5VX4-tbeUD46I9TEdDV77vngTIZJkHzv1n4lAV_eEOrt9c1YmGeqipSK5hxHVK3S-dSUwegOOIs__6qK4wqAaDqaugHqVs6jU73FKNuQBIYDho=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/paypal-rebranding/footer-social-icons_twitter.png" alt="Twitter" width="28" height="28" style="display:block">
</td>
<td align="center" valign="middle" width="60">
<img src="https://ci3.googleusercontent.com/meips/ADKq_NbJF5hAKgH69ng8GzHB_BLJJqW-mCGv-7NbHw90ir5yzNOMACUf0fBz8Lu753P3CUgRQrMr-DAjmaphCjIQ_TL5CrycmZVaSWdrnS9Jt02TPwbOTTWjr-b8bLuM8ba4AIraQgF3_6rSzdcWxljs4b7Km8mB3zAR0yylw8DPeIuk24s-KQJ3GkZ-zP7N7jHFJb5SkKjqoC93SK22G1ZlBQ=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/paypal-rebranding/footer-social-icons_instagram.png" alt="Instagram" width="28" height="28" style="display:block">
</td>
<td align="center" valign="middle" width="60">
<img src="https://ci3.googleusercontent.com/meips/ADKq_Nb1EVewcUt_UC-rDb97yWepmHLoGmZvlPB9GpK9gG76Yf2vg8F7ClSjnTwYM0ieCje5LDq1vH4TWCrhziRsyC5qwxR36nflPN3OXF58Tgo5i8oRjFnxWagTRNU6tsENcw_BELvpJlV6z9Pcv6xH8qAXU7AVpABtbip_FSuYbVbFyXCEmWKax8cOusH693n6pzF-GgbgHt1tI_2wPCdB=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/paypal-rebranding/footer-social-icons_facebook.png" alt="Facebook" width="28" height="28" style="display:block">
</td>
<td align="center" valign="middle" width="60">
<img src="https://ci3.googleusercontent.com/meips/ADKq_NZOMbScNkeqCJK9Ol94YyISMD1q_gupN7P16ppEX6LgCYO6lFpoWOf_nNt8eeX3SE3RPS80MqfOzU3dPV_Ivenj7C5pADqQg2aUqGSyPRlJ4lv2ypmo6nfmQcGdiwwXk9kLMtpgAPFFrvIXfASV5xUE0HjMHhq5UqZYYL1-LwoNdcBZkK4mVe-TwJkWgflo9dKQl5EW5B5sqWfZlCCn=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/paypal-rebranding/footer-social-icons_linkedin.png" alt="LinkedIn" width="28" height="28" style="display:block">
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td style="padding:5px 35px 20px">
<p style="font-size:11px;line-height:13px;margin:5px 0">
PayPal is committed to preventing fraudulent emails. Emails from PayPal will always contain your full name. Learn to identify phishing
</p>
<p style="font-size:11px;line-height:13px;margin:5px 0">
Not sure why you received this email? Learn more
</p>
<div style="font-size:11px;line-height:13px;margin:5px 0">
<span style="color:#222222">PayPal Pte. Ltd. ("3PL") has applied for a license under the Singapore Payment Services Act ("PS Act") with the Monetary Authority of Singapore. During this statutory transitional period, 3PL is operating under an exemption from holding a license and is allowed to continue to provide specific payment services.<br>PayPal RT000231:en_US(en-AE):1.0.0:696ae4ed727da (&quot;3PL&quot;)

    </body>
</html>