<p>Hello {{name}},</p>
<p>Your withdrawal of <strong>{{amount}} {{currency}}</strong> has been processed.</p>
{{#if transactionHash}}<p>Transaction Hash: <code>{{transactionHash}}</code></p>{{/if}}
<p>New balance: <strong>{{newBalance}}</strong></p>
<p>Thank you,<br>The Platform Team</p>
